<!-- DEMO START -->
<div class="button-groups">
  <button (click)="callMethod('getWidth')" mat-button>getWidth()</button>
  <button (click)="callMethod('getHeight')" mat-button>getHeight()</button>
  <button (click)="callMethod('getDom')" mat-button>getDom()</button>
  <button (click)="callMethod('getOption')" mat-button>getOption()</button>
  <button (click)="callMethod('clear')" mat-button>clear()</button>
</div>
<div echarts (chartInit)="onChartInit($event)" [options]="options" class="demo-chart"></div>
<!-- DEMO END -->

<app-code-block [html]="html" [component]="component"> </app-code-block>
