<div class="page-header">
  <h1>Getting Started</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/welcome">Home</a></li>
      <li class="breadcrumb-item active">Getting Started</li>
    </ol>
  </nav>
</div>

<mat-divider></mat-divider>

<div class="demo-tabs-container">
  <mat-tab-group style="margin-top: 8px" mat-stretch-tabs="false">
    <mat-tab label="Simple Chart">
      <app-basic-simple *matTabContent></app-basic-simple>
    </mat-tab>
    <mat-tab label="Dataset">
      <app-basic-dataset *matTabContent></app-basic-dataset>
    </mat-tab>
    <mat-tab label="Events">
      <app-basic-events *matTabContent></app-basic-events>
    </mat-tab>
    <mat-tab label="[theme]">
      <app-basic-themes *matTabContent></app-basic-themes>
    </mat-tab>
    <mat-tab label="[loading]">
      <app-basic-loading *matTabContent></app-basic-loading>
    </mat-tab>
    <mat-tab label="[autoResize]">
      <app-basic-update *matTabContent></app-basic-update>
    </mat-tab>
    <mat-tab label="[initOpts]">
      <app-basic-init-opts *matTabContent></app-basic-init-opts>
    </mat-tab>
    <mat-tab label="echarts Instance">
      <app-basic-instance *matTabContent></app-basic-instance>
    </mat-tab>
  </mat-tab-group>
</div>
