<mat-tab-group>
  <mat-tab label="Simple Chart">
    <app-basic-simple></app-basic-simple>
  </mat-tab>
  <mat-tab label="Dataset">
    <app-basic-dataset></app-basic-dataset>
  </mat-tab>
  <mat-tab label="Events">
    <app-basic-events></app-basic-events>
  </mat-tab>
  <mat-tab label="[theme]">
    <app-basic-themes></app-basic-themes>
  </mat-tab>
  <mat-tab label="[loading]">
    <app-basic-loading></app-basic-loading>
  </mat-tab>
  <mat-tab label="[merge]">
    <app-basic-update></app-basic-update>
  </mat-tab>
  <mat-tab label="[initOpts]">
    <app-basic-init-opts></app-basic-init-opts>
  </mat-tab>
  <mat-tab label="ECharts Instance">
    <app-basic-instance></app-basic-instance>
  </mat-tab>
</mat-tab-group>
