<div class="page-header">
  <h1>Tree</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/welcome">Home</a></li>
      <li class="breadcrumb-item">Series</li>
      <li class="breadcrumb-item active">Tree</li>
    </ol>
  </nav>
</div>

<mat-divider></mat-divider>

<mat-tab-group style="margin-top: 8px" mat-stretch-tabs="false">
  <mat-tab label="From Left To Right">
    <app-tree-from-left-to-right *matTabContent></app-tree-from-left-to-right>
  </mat-tab>
  <mat-tab label="Radial Tree">
    <app-tree-radial *matTabContent></app-tree-radial>
  </mat-tab>
</mat-tab-group>
