<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Use [theme] to set echarts theme</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div class="row">
            <div class="col-md-6">
              <h5> Theme: default </h5>
              <div echarts [options]="options" class="demo-chart"></div>
            </div>
            <div class="col-md-6">
              <h5> Theme: macarons </h5>
              <div echarts [options]="options" theme="macarons" class="demo-chart"></div>
            </div>
          </div>
        </tab>
        <tab heading="angular-cli">
          <markdown [data]="demo_cli_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>