<div class="code-block">
  <nz-tabset nzType="card">
    @if (htmlCode) {
      <nz-tab nzTitle="html">
        <markdown [data]="htmlCode | language: 'html'"></markdown>
      </nz-tab>
    }
    @if (componentCode) {
      <nz-tab nzTitle="component">
        <markdown [data]="componentCode | language: 'typescript'"></markdown>
      </nz-tab>
    }
    @if (scssCode) {
      <nz-tab nzTitle="scss">
        <markdown [data]="scssCode | language: 'scss'"></markdown>
      </nz-tab>
    }
    @if (dataCode) {
      <nz-tab nzTitle="data">
        <markdown [data]="dataCode | language: 'typescript'"></markdown>
      </nz-tab>
    }
  </nz-tabset>
</div>
