<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Connect 2 Charts</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div class="row">
            <div class="col-md-6">
              <h5> id=chart1 </h5>
              <div id="chart1" echarts [options]="options" theme="macarons" class="demo-chart"></div>
            </div>
            <div class="col-md-6">
              <h5> id=chart2 </h5>
              <div id="chart2" echarts [options]="options" theme="macarons" class="demo-chart"></div>
            </div>
          </div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
  