<div class="text-center">
  <a href="https://xieziyu.github.io/ngx-echarts">
    <img src="assets/img/logo.svg" alt="Logo" width="80" />
  </a>
  <h1>NGX-ECHARTS</h1>
  <p>
    <img src="https://img.shields.io/npm/v/ngx-echarts.svg" alt="version" class="mr-2" />
    <img src="https://img.shields.io/npm/dm/ngx-echarts.svg" alt="downloads" />
  </p>
  <p class="lead text-muted">
    ngx-echarts is an <strong class="text-danger">Angular</strong> (ver >= 2.x) directive for
    <strong class="text-danger">ECharts</strong> (ver >= 3.x)
  </p>
  <p>
    <a
      href="https://github.com/xieziyu/ngx-echarts"
      target="blank"
      mat-stroked-button
      color="primary"
      class="mr-2">
      <mat-icon>code</mat-icon>
      <span>GitHub</span>
    </a>
    <a href="https://xieziyu.github.io/ngx-echarts/api-doc" target="blank" mat-stroked-button>
      <mat-icon>menu_book</mat-icon>
      <span>Documents</span>
    </a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-24">
      <markdown ngPreserveWhitespaces [data]="scriptText"></markdown>
    </div>
    <div class="col-24">
      <markdown ngPreserveWhitespaces [data]="importText"></markdown>
    </div>
    <div class="col-24">
      <markdown ngPreserveWhitespaces [data]="importNgModuleText"></markdown>
    </div>
  </div>
</div>
