<div class="text-center">
  <h1>
    <!-- <img src="assets/img/ngx-echarts-logo.png" alt="version" width="40px"> -->
    ngx-echarts
  </h1>
  <p>
    <img src="https://img.shields.io/npm/v/ngx-echarts.svg" alt="version" class="mr-2">
    <img src="https://img.shields.io/npm/dm/ngx-echarts.svg" alt="downloads">
  </p>
  <p class="lead text-muted">ngx-echarts is an <strong class="text-danger">Angular</strong>(ver >= 2.x) directive for
    <strong class="text-danger">ECharts</strong> (ver >= 3.x)</p>
  <p>
    <img src="assets/img/angular.svg" width="32px" height="32px">
    <strong><i nz-icon nzType="plus" nzTheme="outline" style="margin: 0 24px;"></i></strong>
    <img src="assets/img/echarts-logo.png" width="24px" height="24px">
  </p>
  <p>
    <a href="https://github.com/xieziyu/ngx-echarts" target="blank" nz-button nzType="primary" class="mr-2"><i nz-icon
        nzType="github" nzTheme="outline"></i> GitHub</a>
    <a href="https://xieziyu.github.io/ngx-echarts/api-doc" target="blank" nz-button nzType="default"><i nz-icon
        nzType="read" nzTheme="outline"></i> Documents</a>
  </p>
</div>

<div class="container">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <markdown ngPreserveWhitespaces>
        ## Install
        ```bash
        # if you use npm
        npm install echarts -S
        npm install ngx-echarts -S

        # or if you use yarn
        yarn add echarts
        yarn add ngx-echarts
        ```
      </markdown>
    </div>
    <div nz-col nzSpan="12">
      <markdown ngPreserveWhitespaces>
        ## Import
        ```typescript
        import {{'{'}} NgxEchartsModule } from 'ngx-echarts';

        @NgModule({{'{'}}
          imports: [
            ...,
            NgxEchartsModule.forRoot({{'{'}}
              echarts: () => import('echarts')
            })
          ],
        })
        export class AppModule {{'{'}} }
        ```
      </markdown>
    </div>
  </div>
</div>