markdown table {
  margin: auto !important;
}

.text-center {
  text-align: center !important;
}

.mr-2 {
  margin-right: 0.5em;
}

.ant-page-header {
  padding: 0;
}

.code-block {
  pre {
    max-height: 400px;
  }
}

.button-groups {
  button {
    margin-right: 16px;
  }
  padding: 16px 0;
}

.demo-chart {
  height: 500px;
}

.demo-chart-600 {
  height: 600px;
}