.resizable-widget {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: solid 1px #869fac;
  padding: 0.5em;
}

.widget-header {
  text-align: center;
  border: 1px solid #869fac;
  background: #e9e9e9;
  color: #333333;
  padding: 0.25em;
  font-weight: bold;
}