<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Use [loading] to toggle spinner</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <button class="btn btn-outline-primary" type="button" (click)="isLoading = !isLoading">Toggle Loading</button>
          <hr>
          <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
