<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Official Demo (ECharts v3.8)</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div echarts [options]="options" [merge]="mergeData" style="height: 600px;"></div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
        <tab heading="options">
          <markdown [data]="demo_option | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
  