@use '@angular/material' as mat;

:host {
  height: 100vh;
  width: 100vw;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  display: flex;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  margin-right: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;

  @include mat.toolbar-overrides((
    container-background-color: #001529,
  ));
}

.spacer {
  flex: 1;
}

.inner-content {
  padding: 24px;
  overflow: auto;
}
