<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Bus Lines of Beijing (Baidu Map)</h4>
    <div class="alert alert-info"><i class="fa fa-info mr-2"></i> Need to include <strong>bmap.js</strong> and <strong>Baidu Map</strong> API: http://api.map.baidu.com/api?v=2.0&ak=ACCESS_KEY </div>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div echarts [options]="options" [loading]="!mapLoaded" class="demo-chart"></div>
        </tab>
        <tab heading="angular-cli">
          <markdown [data]="demo_json | language: 'javascript'"></markdown>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
  