@for (menu of menus; track menu) {
  @if (!menu.submenus) {
    <button mat-flat-button [routerLink]="menu.path" routerLinkActive="active-menu-item">
      <mat-icon>{{ menu.icon }}</mat-icon>
      @if (!isCollapsed()) {
        <span class="nav-text">{{ menu.text }}</span>
      }
    </button>
  } @else {
    <button mat-flat-button color="secondary" [matMenuTriggerFor]="submenu">
      <mat-icon>{{ menu.icon }}</mat-icon>
      @if (!isCollapsed()) {
        <span class="nav-text">{{ menu.text }}</span>
      }
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #submenu>
      @for (submenu of menu.submenus; track submenu) {
        <button mat-menu-item [routerLink]="submenu.path" routerLinkActive="active-menu-item">
          @if (submenu.icon) {
            <mat-icon>{{ submenu.icon }}</mat-icon>
          }
          <span class="nav-text">{{ submenu.text }}</span>
        </button>
      }
    </mat-menu>
  }
}
