<div class="card card-accent-info">
  <div class="card-body">
    <!-- Chart -->
    <div echarts [options]="options | async" style="height: 600px;"></div>
  </div>
</div>

<!-- Documents -->
<div class="row mt-4">
  <div class="col">
    <tabset>
      <tab heading="html">
        <markdown [data]="demo_html | language: 'html'"></markdown>
      </tab>
      <tab heading="component">
        <markdown [data]="demo_ts | language: 'typescript'"></markdown>
      </tab>
    </tabset>
  </div>
</div>