<div class="page-header">
  <h1>Heatmap</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/welcome">Home</a></li>
      <li class="breadcrumb-item">Series</li>
      <li class="breadcrumb-item active">Heatmap</li>
    </ol>
  </nav>
</div>

<mat-divider></mat-divider>

<mat-tab-group style="margin-top: 8px" mat-stretch-tabs="false">
  <mat-tab label="Calendar Heatmap">
    <app-heatmap-calendar *matTabContent></app-heatmap-calendar>
  </mat-tab>
  <mat-tab label="Discrete Mapping of Color">
    <app-heatmap-discrete *matTabContent></app-heatmap-discrete>
  </mat-tab>
</mat-tab-group>
