<nz-page-header nzTitle="Tree">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/welcome">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Series</nz-breadcrumb-item>
    <nz-breadcrumb-item>Heatmap</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabs style="margin-top: 8px" [nzTabPosition]="'left'">
  <nz-tab nzTitle="Calendar Heatmap">
    <ng-template nz-tab>
      <app-heatmap-calendar></app-heatmap-calendar>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Discrete Mapping of Color">
    <ng-template nz-tab>
      <app-heatmap-discrete></app-heatmap-discrete>
    </ng-template>
  </nz-tab>
</nz-tabs>
