<h1>
  angular2-echarts
</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <ul>
        <li>
          <a href="#demo1">Demo 1: Standard "options"</a>
        </li>
        <li>
          <a href="#demo2">Demo 2: Use "dataset" to update chart easily</a>
        </li>
        <li>
          <a href="#demo3">Demo 3: Use "loading"</a>
        </li>
        <li>
          <a href="#demo4">Demo 4: Binding to mouse events</a>
        </li>
        <li>
          <a href="#demo5">Demo 5: How to update the "options"</a>
        </li>
        <li>
          <a href="#demo6">Demo 6: Expose the "echartsInstance"</a>
        </li>
        <li>
          <a href="#demo6">Demo 7: Use "theme" to init echarts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="demo1" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 1: Standard "options"</h3>
      </div>
      <div class="panel-body">
        <div echarts [options]="chartOption1" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption1" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='chartOption1'>
            <codeblock language="javascript" theme="okaidia">
              chartOption1 = {{chartOption1 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="demo2" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 2: Use "dataset" to update chart easily</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="chageDataset()">Change dateset</button>
        <hr>
        <div echarts [options]="chartOption2" [dataset]="dataset" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption2" [dataset]="dataset" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='dataset'>
            <codeblock language="javascript" theme="okaidia">
              dataset = {{dataset | json}};
            </codeblock>
          </tab>
          <tab heading='chartOption2'>
            <codeblock language="javascript" theme="okaidia">
              chartOption2 = {{'{'}}{{'{'}}"{{'{'}}"}}
                "color": ["#3398DB"],
                "tooltip": {{'{'}}{{'{'}}"{{'{'}}"}}
                  "trigger": "axis",
                  "axisPointer": {{'{'}}{{'{'}}"{{'{'}}"}}            // 坐标轴指示器，坐标轴触发有效
                    "type": "shadow"          // 默认为直线，可选为："line" | "shadow"
                  }
                },
                "grid": {{'{'}}{{'{'}}"{{'{'}}"}}
                  "left": "3%",
                  "right": "4%",
                  "bottom": "3%",
                  "containLabel": true
                },
                "xAxis": [
                  {{'{'}}{{'{'}}"{{'{'}}"}}
                    "type": "category",
                    "data": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                    "axisTick": {{'{'}}{{'{'}}"{{'{'}}"}}
                      "alignWithLabel": true
                    }
                  }
                ],
                "yAxis": [
                  {{'{'}}{{'{'}}"{{'{'}}"}}
                    "type": "value"
                  }
                ],
                "series": [
                  {{'{'}}{{'{'}}"{{'{'}}"}}
                    "name": "直接访问",
                    "type": "bar",
                    "barWidth": "60%"
                  }
                ]
              }
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="demo3" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 3: Use "loading"</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="toggleLoading()">Toggle Loading</button>
        <hr>
        <div echarts [options]="chartOption3" [loading]="chartLoading" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption3" [loading]="chartLoading" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='chart3Loading'>
            <codeblock language="javascript" theme="okaidia">
              chartLoading = {{chartLoading | json}};
            </codeblock>
          </tab>
          <tab heading='chartOption3'>
            <codeblock language="javascript" theme="okaidia">
              chartOption3 = {{chartOption3 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="demo4" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 4: Binding to mouse events</h3>
      </div>
      <div class="panel-body">
        <h4>You can click the chart and check the console output.</h4>
        <hr>
        <div echarts class="demo-chart"
          [options]="chartOption4"
          (chartClick)="onChartClick($event)"
          (chartDblClick)="onChartDblClick($event)">
        </div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts class="demo-chart"
                [options]="chartOption4"
                (chartClick)="onChartClick($event)"
                (chartDblClick)="onChartDblClick($event)">
              &lt;/div>
            </codeblock>
          </tab>
          <tab heading='chartOption4'>
            <codeblock language="javascript" theme="okaidia">
              chartOption4 = {{chartOption4 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="demo5" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 5: How to update the "options"</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="changeOptions()" [disabled]="revert">Change Options</button>
        <button class="btn btn-primary" (click)="revertOptions()" [disabled]="!revert">Revert Options</button>
        <hr>
        <div echarts [options]="chartOption5" [dataset]="dataset" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption5" [dataset]="dataset" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='changeOptions'>
            <codeblock language="javascript" theme="okaidia">
              this.chartOption5 = Object.assign({{'{'}}{{'{'}} '{{'{'}}' }}}, this.chartOption5);
              this.chartOption5.legend = {{'{'}}{{'{'}} '{{'{'}}' }} show: true };
              this.chartOption5.legend.data = [{{'{'}}{{'{'}} '{{'{'}}' }} name: '直接访问', icon: 'circle' }];
              this.chartOption5.series = [];
              this.chartOption5.series[0] = {{'{'}}{{'{'}} '{{'{'}}' }}
                name: '直接访问',
                type: 'line',
                markPoint: {{'{'}}{{'{'}} '{{'{'}}' }}
                  data: [
                    {{'{'}}{{'{'}} '{{'{'}}' }} type: 'min', name: '最小值' },
                    {{'{'}}{{'{'}} '{{'{'}}' }} type: 'max', name: '最大值' },
                  ]
                }
              };
            </codeblock>
          </tab>
          <tab heading='chartOption5'>
            <codeblock language="javascript" theme="okaidia">
              chartOption5 = {{chartOption5 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="demo6" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 6: Expose the "echartsInstance"</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="showLoadingByInstance()">Show Loading By Instance</button>
        <button class="btn btn-info" (click)="hideLoadingByInstance()">Hide Loading By Instance</button>
        <hr>
        <div echarts [options]="chartOption3" (chartInit)="onChartInit($event)" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption3" (chartInit)="onChartInit($event)" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='component'>
            <codeblock language="javascript" theme="okaidia">
onChartInit(ec) {{'{'}}
  this.chartInstance = ec;
}

showLoadingByInstance() {{'{'}}
  if (this.chartInstance) {{'{'}}
    this.chartInstance.showLoading();
  }
}

hideLoadingByInstance() {{'{'}}
  if (this.chartInstance) {{'{'}}
    this.chartInstance.hideLoading();
  }
}
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="demo7" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 7: Use "theme" to init echarts</h3>
      </div>
      <div class="panel-body">
        <div echarts theme="dark" [options]="chartOption5" [dataset]="dataset" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts theme="shine" [options]="chartOption5" [dataset]="dataset" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='chartOption5'>
            <codeblock language="javascript" theme="okaidia">
              chartOption5 = {{chartOption5 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>