// Here you can add other styles
.tab-content {
  pre {
    max-height: 500px;
    overflow-y: auto;
  }
}

.code-block {
  pre {
    height: 250px;
    overflow-y: auto;
  }
}

.code-block-sm {
  pre {
    height: 200px;
    overflow-y: auto;
  }
}

.demo-chart {
  height: 500px;
}