name: Build and Deploy
on:
  push:
    branches:
      - master
      - fix/action
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install
        run: yarn
      - name: Build
        run: yarn release
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: dist/docs
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}