<nz-page-header nzTitle="Advanced">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/welcome">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Advanced</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="Connect Charts">
    <ng-template nz-tab>
      <app-connect-charts></app-connect-charts>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Draggable Chart">
    <ng-template nz-tab>
      <app-line-draggable></app-line-draggable>
    </ng-template>
  </nz-tab>
</nz-tabset>