<div class="page-header">
  <h1>Advanced</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/welcome">Home</a></li>
      <li class="breadcrumb-item active">Advanced</li>
    </ol>
  </nav>
</div>

<mat-divider></mat-divider>

<div class="demo-tabs-container">
  <mat-tab-group style="margin-top: 8px" mat-stretch-tabs="false">
    <mat-tab label="Connect Charts">
      <app-connect-charts *matTabContent></app-connect-charts>
    </mat-tab>
    <mat-tab label="Draggable Chart">
      <app-line-draggable *matTabContent></app-line-draggable>
    </mat-tab>
  </mat-tab-group>
</div>
