<!-- DEMO START -->
<div class="button-groups">
  <button (click)="theme = undefined" mat-button>default</button>
  <button (click)="theme = 'dark'" mat-button>dark</button>
  <button (click)="theme = 'macarons'" mat-button>macarons(theme file)</button>
  <button (click)="theme = coolTheme" mat-button>cool(theme object)</button>
</div>
<div echarts [options]="options" [theme]="theme" class="demo-chart"></div>
<!-- DEMO END -->

<app-code-block [html]="html" [component]="component" [data]="data"> </app-code-block>
